.login-page{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-form{
    padding: 2rem;
    color: white;
    border-radius: .5rem;
    background: rgb(99, 134, 148);
}

.login-form form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15rem;
}

.login-form form h2{
    text-align: center;
}
.login-form form input{
    font-size: 1rem;
    width: 100%;
    outline: none;
    border: none;
    border-radius: .2rem;
    padding: .5rem;
    margin-top: .2rem;
}
.login-form form button{
    padding: .5rem;
    border-radius: .2rem;
    border: none;   
    margin-top: 1rem;
    background-color: white;
    font-weight: bold;
    font-size: 1rem;
}