.login-page{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-form{
    padding: 2rem;
    color: white;
    border-radius: .5rem;
    background: rgb(99, 134, 148);
}

.login-form form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15rem;
}

.login-form form h2{
    text-align: center;
}
.login-form form input{
    font-size: 1rem;
    width: 100%;
    outline: none;
    border: none;
    border-radius: .2rem;
    padding: .5rem;
    margin-top: .2rem;
}
.login-form form button{
    padding: .5rem;
    border-radius: .2rem;
    border: none;   
    margin-top: 1rem;
    background-color: white;
    font-weight: bold;
    font-size: 1rem;
}

.dashboard{
    padding: 1rem 15%;
}

.search-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.search-title h2{
    text-align: center;
}
.search-input input{
    width: 100%;
    padding: .5rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    background-color: #5f7e4f;
    color: white;
    font-size: 1rem;
    border-radius: .4rem;
}

.product-color{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.product-props{
    display: flex;
    gap: .4rem;
    align-items: center;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
}

.product-card{
    max-width: 33%;
    flex: 33%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: 1rem;
    transition: .2s ease-in-out;
}
.product-card:hover{
    background-color: aliceblue;
}
.product-price{
    color: #54af27;
}